@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* #hero {
  background-image: url("./images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

} */
.mySwiper .swiper-pagination-bullet {
  background-color: #333 !important; /* Default bullet color */
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #8E9D74 !important; /* Active bullet color */
}